<html>   
<head>
<meta charset="UTF-8">

</head>
<body>
<br><br>
<!--<div class="embed-responsive embed-responsive-16by9">
        <video autoplay loop class="embed-responsive-item">
            <source src="{{videofile}}" type="video/mp4">
        </video>
    </div>
    <video width='400' controls>
            <source src='{{ MEDIA_URL }}{{ videofile.url }}' type='video/mp4'>
            Your browser does not support the video tag.
            </video>
<br><br>
-->
</p>

<!--
<video width="320" height="240" controls>
    <source src="{{videofile.url}}" type="video/mp4">
  Your browser does not support the video tag.
</video>
-->

<video width="320" height="240" controls>
    <source src="{{obj.videofile.url}}" type="video/mp4">
   Your browser does not support the video tag.
</video>

</body>
</html>
